<p id="notice"><%= notice %></p>

<h1>Skills</h1>

<table class="table">
<thead class="thead-dark">
<tr>
<th> Skill Title</th>
<th>Owner:</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>

<tbody>

<% @skills.each do |skill| %> 

<tr>
<td><%= skill.title%> </td>
<td><%= skill.owner_id %></td>


<td><%= link_to  "show", skill , class:"btn btn-secondary"%> </td>
<td><%= link_to "edit", edit_skill_path(skill), class:"btn btn-secondary" %> </td>
<td><%= link_to  "Destroy", skill, method: :delete, class:"btn btn-secondary" %> </td>
</tr>

<% end %>

</tbody>

</table>


<%= link_to 'New skill', new_skill_path , class:"btn btn-secondary" %>