<h1>Experience</h1>


<table class="table">
<thead class="thead-dark">
<tr>
<th>Job Title:</th>
<th>Employee Name:</th>
<th>Start Date:</th>
<th>End Date:</th>
<th>Owner:</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @experiences.each do |experience|%>

<tr>
<td><%= experience.job_title %></td>
<td><%= experience.employee_name %></td>
<td><%= experience.start_date %></td>
<td><%= experience.end_date %></td>
<td><%= experience.owner_id %></td>
<td><%= link_to  "show", experience, class:"btn btn-secondary"%></td>
<td><%= link_to  "edit", edit_experience_path(experience), class:"btn btn-secondary" %></td>
<td><%= link_to  "destroy",experience, method: :delete , class:"btn btn-secondary"%></td>
</tr>

<%end%>

</tbody>

</table>

<%= link_to  "New Experience", new_experience_path, class:"btn btn-secondary"%>